.navbar {
  display: flex;
  flex-direction: row;
  background-color: #14438f;
  height: 10vh;

  .navbar-logo {
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    color: aliceblue;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%;
    list-style: none;
    color: aliceblue;
    cursor: pointer;

    li {
      transition: background-color 0.3s ease, border-radius 0.3s ease;
      padding: 10px;
    }

    li:hover {
      background-color: #2780c2;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    color: aliceblue;
    cursor: pointer;

    img {
      transition: background-color 0.3s ease, border-radius 0.3s ease;
      padding: 10px !important;
    }

    img:hover {
      background-color: #2780c2;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu-container {
      position: relative;
      display: inline-block;
    }

    .floating-menu {
      position: absolute;
      width: 150px;
      top: 50px;
      left: -100px;
      background: aliceblue;
      border: 1px solid #ccc;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 8px;
      z-index: 1000;

      .title {
        background-color: #14438f;
        color: aliceblue;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
      }
    }
    .floating-menu button {
      display: block;
      width: 100%;
      padding: 8px;
      margin: 4px 0;
      border: none;
      background: transparent;
      text-align: left;
      cursor: pointer;
    }
    .floating-menu button:hover {
      background: #2780c2;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
