<div class="row">
  <div class="col">
    <nav class="navbar">
      <div class="navbar-logo">
        <img
          src="assets/images/logo-lumier-2.svg"
          alt="Logo Lumier"
          width="40"
          height="auto"
        />
      </div>

      <ul class="navbar-links">
        <li><a (click)="onGoToRecord()">Modulo de Consultas</a></li>
      </ul>

      <div class="navbar-actions">
        <div class="menu-container">
          <img
            src="assets/icons/user.svg"
            alt="Logo Lumier"
            width="24"
            height="24"
            height="auto"
            (click)="toggleMenu()"
          />
          <div
            class="floating-menu"
            *ngIf="isMenuVisible"
            (mouseleave)="hideMenu()"
          >
            <div class="row title">
              <span>LUMIER PRUEBA</span
              ><img
                src="assets/images/logo.jpeg"
                alt="Logo Lumier"
                width="25"
                height="25"
                height="auto"
                (click)="toggleMenu()"
              />
            </div>
            <div class="row">
              <div class="col">
                <button (click)="onManageProfile()">Administrar Perfil</button>
                <button (click)="onLogout()">Cerrar Sesión</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
